.preview {
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem 0
}

.preview:hover {
    cursor: pointer;
}

.preview-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.preview-name {

}

.preview-description {
    font-size: 1rem;
    padding-top: 0.75rem;
}

.preview img {
    border-radius: 10px;
}