.recipes-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: flex-start; /* Align items to the top */
    text-align: center;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}