.info-panel {
    display: flex;
}
.icon {
    height: 24px;
    width: auto;
    margin-right: 0.5rem;
}

.info-panel h1 {
    font-size: 2rem;
}

.info-panel-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.name {

}

.description {
    flex: 1;
}
.icon-strip {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}


.icon-text-pair {
    display: flex;
    align-items: center;
}

.based-on {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

/* Phone */
@media screen and (max-width: 480px) {
    .info-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Tablet */
@media screen and (max-width: 850px) {
    .info-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

