html,
body {
    height: 100%;
    margin: 0;
}

a {
    color: #be2a77;
}

.parent {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100%;
}

.header {
    grid-area: 1 / 1 / 2 / 11;
    height: 100%;
    background-color: #0c5f5f;
}

.navigation {
    grid-area: 1 / 4 / 1 / 8;
    margin: auto;
}

.content {
    grid-area: 2 / 1 / 10 / 11;
    height: 100%;
    overflow: auto;
}

.mainContent {
    width: 40%;
    margin: auto;
}


.footer {
    grid-area: 10 / 1 / 11 / 11;
    background-color: #0c5f5f;

}

.tester {
    background-color: red;
}

ul {
    list-style-type: none;
}

.nav_list {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav_list a {
    color: white;
    text-decoration: none;
}

.nav_list a:hover,
.nav_list a.active {
    text-decoration: underline;
}


.information {
    background-color: #f0f0f0;
    padding: 0.5rem;
}

.description {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 1rem;
}

.small {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

button {
    font-size: 1.125rem;
    background: #be2a77;
    border: 2px solid #be2a77;
    border-radius: 3px;
    color: white;
    margin: 1px;
}

.curly_text, h1, a {
    font-family: "Frank Ruhl Libre", Georgia, serif;
}

h1, h2, h3 {
    padding: 1rem;
    font-weight: normal;
    text-align: center;
}

.recipe_panel {
    display: flex;
    align-items: center;
}

.recipe_panel img {
    margin: 10px; /* Optional: Add some spacing between the elements */
}

hr {
    color: #ffffff;
}

.left_align {
    text-align: left;
    padding-left: 0;
}

.draggable_list_item {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0.25rem;
}

.method_step {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0.25rem;
}

.note {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0.25rem;
}

.ingredient {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    padding: 0.25rem;
}

.step {
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.25rem;
}

.cooking_time {
    display: flex;
    align-items: center; /* Vertically center the content */
    padding-left: 0.5rem;
}

.recipe_panel h1 {
    font-size: 2rem;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 1rem;
}

*:disabled {
    border: 0;
    margin-top: 2px;
    color: black;
}

.middle {
    margin: 0 auto;
}



